$def with (posts, url)

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/kognise/water.css@latest/dist/dark.min.css">
    <link rel="stylesheet" href="static/main.css">
    <title>Document</title>
</head>
<body>
    <h1 id="site-title">XAX007 InfoSec Blog</h1><hr>
    $for post in posts:
     <h2 class="post-title"><a href="$url/posts/$(post['url'])">$post['title'].strip()</a></h2>
</body>
</html>